<!DOCTYPE html>
<html>
<head>
	<title>Menubar</title>
    <script src="https://kit.fontawesome.com/7645f94be6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="menu-bar.css">
</head>
<body>
	<div class="bar">
		<div class="thu-muc">
			<div class="item">
				<i class="fas fa-home fa-lg"></i>
				Trang chủ
			</div>
			<div class="item">
				<i class="fab fa-gripfire fa-lg"></i>
				Thịnh hành
			</div>
			<div class="item">
				<i class="fab fa-youtube"></i>
				Kênh đăng ký
			</div>
		</div>
		<div class="thu-muc">5</div>
		<div class="kenh-dang-ky">5555</div>
	</div>
</body>
</html>