<!DOCTYPE html>
<html>
<head>
	<title>Menubar</title>
    <script src="https://kit.fontawesome.com/7645f94be6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="menu-bar.css">
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
</head>
<body>
	<div class="bar">
		<div class="thu-muc">
			<div class="item">
				<div class="icon">
					<i class="fas fa-home "></i>
				</div>
				<span class="content">
					Trang chủ
				</span>
			</div>
			<div class="item">
				<div class="icon">
					<i class="fab fa-gripfire fa-lg"></i>
				</div>
				<span class="content">
					Thịnh hành
				</span>
			</div>
			<div class="item">
				<div class="icon">
					<i class="fab fa-youtube fa-sm"></i>
				</div>
				<span class="content">
					Kênh đăng ký
				</span>
			</div>
		</div>
		<div class="thu-muc">
			<div class="item">
				<div class="icon">
					<ion-icon name="albums-outline"></ion-icon>
				</div>
				<span class="content">
					Thư viện
				</span>
			</div>
			<div class="item">
				<div class="icon">
					<i class="fas fa-history"></i>
				</div>
				<span class="content">
					Lịch sử
				</span>
			</div>
			<div class="item">
				<div class="icon">
					<i class="fab fa-youtube fa-sm"></i>
				</div>
				<span class="content">
					Video của bạn
				</span>
			</div>
			<div class="item">
				<div class="icon">
					<i class="fas fa-clock"></i>
				</div>
				<span class="content">
					Xem sau
				</span>
			</div>
			<div class="item">
				<div class="icon">
					<i class="fas fa-thumbs-up"></i>
				</div>
				<span class="content">
					Video đã thích
				</span>
			</div>
		</div>

		<div class="kenh-dang-ky">
			<p class="title">KÊNH ĐĂNG KÝ</p>
			<div class="item">
				<div class="icon">
					<ion-icon name="albums-outline"></ion-icon>
				</div>
				<span class="content">
					Thư viện
				</span>
			</div>
			<div class="item">
				<div class="icon">
					<i class="fas fa-history"></i>
				</div>
				<span class="content">
					Lịch sử
				</span>
			</div>
			<div class="item">
				<div class="icon">
					<i class="fab fa-youtube fa-sm"></i>
				</div>
				<span class="content">
					Video của bạn
				</span>
			</div>
			<div class="item">
				<div class="icon">
					<i class="fas fa-clock"></i>
				</div>
				<span class="content">
					Xem sau
				</span>
			</div>
			<div class="item">
				<div class="icon">
					<i class="fas fa-thumbs-up"></i>
				</div>
				<span class="content">
					Video đã thích
				</span>
			</div>
			<div class="item">
				<div class="icon">
					<ion-icon name="albums-outline"></ion-icon>
				</div>
				<span class="content">
					Thư viện
				</span>
			</div>
			<div class="item">
				<div class="icon">
					<i class="fas fa-history"></i>
				</div>
				<span class="content">
					Lịch sử
				</span>
			</div>
			<div class="item">
				<div class="icon">
					<i class="fab fa-youtube fa-sm"></i>
				</div>
				<span class="content">
					Video của bạn
				</span>
			</div>
			<div class="item">
				<div class="icon">
					<i class="fas fa-clock"></i>
				</div>
				<span class="content">
					Xem sau
				</span>
			</div>
			<div class="item">
				<div class="icon">
					<i class="fas fa-thumbs-up"></i>
				</div>
				<span class="content">
					Video đã thích
				</span>
			</div>
			<div class="item">
				<div class="icon">
					<ion-icon name="albums-outline"></ion-icon>
				</div>
				<span class="content">
					Thư viện
				</span>
			</div>
			<div class="item">
				<div class="icon">
					<i class="fas fa-history"></i>
				</div>
				<span class="content">
					Lịch sử
				</span>
			</div>
			<div class="item">
				<div class="icon">
					<i class="fab fa-youtube fa-sm"></i>
				</div>
				<span class="content">
					Video của bạn
				</span>
			</div>
			<div class="item">
				<div class="icon">
					<i class="fas fa-clock"></i>
				</div>
				<span class="content">
					Xem sau
				</span>
			</div>
			<div class="item">
				<div class="icon">
					<i class="fas fa-thumbs-up"></i>
				</div>
				<span class="content">
					Video đã thích
				</span>
			</div>
			<div class="item">
				<div class="icon">
					<ion-icon name="albums-outline"></ion-icon>
				</div>
				<span class="content">
					Thư viện
				</span>
			</div>
			<div class="item">
				<div class="icon">
					<i class="fas fa-history"></i>
				</div>
				<span class="content">
					Lịch sử
				</span>
			</div>
			<div class="item">
				<div class="icon">
					<i class="fab fa-youtube fa-sm"></i>
				</div>
				<span class="content">
					Video của bạn
				</span>
			</div>
			<div class="item">
				<div class="icon">
					<i class="fas fa-clock"></i>
				</div>
				<span class="content">
					Xem sau
				</span>
			</div>
			<div class="item">
				<div class="icon">
					<i class="fas fa-thumbs-up"></i>
				</div>
				<span class="content">
					Video đã thích
				</span>
			</div>
		</div>
	</div>
</body>
</html>